@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');
*{
	padding: 0;
	margin: 0;
	list-style: none;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Almarai', sans-serif;
	color: #000;
	text-align: right;
}

a{
	text-decoration: none;
}

body{
	background-color: #FFC0CB;
}

nav{
	background-color: rgba(255, 255, 255, 0.803);
}

.bold{
	font-weight: bold;
}

.checked{
	width:1rem;
}

.logo-container{
	display:flex;
	align-items: center;
	justify-content:space-between;
  padding-inline:300px;
	border-bottom: 2px solid #FFC0CB;
}

.logo-img > img{
	width:6rem;
	height:7rem;
	animation: rotate 2s  linear;
}

.logo-img > img:hover{
	transform: rotate(40deg);
}


@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	
	to {
		transform: rotate(360deg);
	}
}

.nav-links{
	display: flex;
	align-items: center;
	justify-content:space-between;
	gap: 50px;

}

.nav-links > li{
	border:2px solid #FFC0CB;
  padding-inline:13px;
	border-radius: 13px;
}

.nav-links > li:hover{
	background-color:  #347450;
	border: 2px solid #347450;
}

.nav-link1:hover{
	color:white;
}
.nav-link2:hover{
	color:white;
}

.nav-link3:hover{
	color:white;
}

.nav-link1:active{
	opacity: 0.2;
}

.nav-link2:active{
	opacity: 0.2;
}

.nav-link3:active{
	opacity: 0.2;
}

.icon{
width: 1rem;
}

.icon:hover{
	width:1.5rem;
}

.icon:active{
	transform: rotate(280deg);
}

.account-container{
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.vertical-line{
	border-left:2px solid black;
	height:25px;
	padding-right:30px;
}

.page-links{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding:20px 300px;
}

.link{
	padding-bottom:7px;
}

.link:hover{
	border-bottom: 2px solid  #347450;
	border-radius: 20px;
}

.link:active{
font-weight: 900;
font-size: 18px;
}

/*Product section*/

.description{
	display:flex;
	flex-direction: column;
	align-items: center;
	padding-top:5px;
}

.product-intro{
	display: flex;
	flex-direction: column;
	align-self: center;
	background-color: rgba(255, 255, 255, 0.803);
	padding:20px 40px;
	width:65%;
	gap:40px;
}





